doctype html
html(lang='en') 

  head
    //- css
    link(rel="stylesheet" href="stylesheets/index.css")
    link(rel="stylesheet" href="stylesheets/about.css")


    //- js
    script(src="javascripts/index.js")
    script(src="javascripts/about.js")


    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')

    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

    title About Us



  body#main
    script.
      var loggedin = #{loggedin}
    if loggedin
      include login/usernav
    else
      include common/nav
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a(href='#origins') Origins
      a(href='#features') Features
      a(href='#team') Team  
    .content
      p 
        br
        br
      div(style='text-align:left')
        .column3
        h1.bold ABOUT US
        p.paragraph IEP Alumni Association strives to facilitate connections among Wego IEP students with the goal of nurturing and empowering global talents. By doing this, current and former students are able to create opportunities, foster connections, and share resources. 
        .column3
        p 
          br
      .row
        .column3
        .column
          img#round.pic_align(src='/images/hero/IEP.jpg' style='width:200%')
        .column2
        p.paragraph ORIGINS IEP  
        .column2
        .column2
    include common/footer