doctype html
html(lang='en')
  head
    //- css
    link(rel="stylesheet" href="stylesheets/index.css")

    //- js
    script(src="javascripts/index.js")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
  body
    div(class="content")
    
     //- Header and navigation bar
   
    #navbar
      a#logo(href='/' style='width:15%') IEP Alumni 
      #navbar-right
        a.active(href='/home') Home
        a(href='/contact') Contact
        a(href='/about') About
        a(href='/auth/google') Login

    .hero-image1
        .hero-text1
    //- .waves
    .hero-image2
        .hero-text2
          h1 Our Vision:
          h3.line-height IEP Alumni Association aims to build a bridge between the school, students, and alumni. Through these partnerships, we leverage the resources of the school and the experience of our alumni to elevate our students’ successes in school, university, and beyond.  
 


    .hero-image3
        .hero-text3
          h1 Our Mission:
          h3.line-height IEP Alumni Association utilizes an advisory board, student infographics and distribution maps, experience sharing sessions, and annual events to promote and leverage the value of the International Education Program; assemble current students and alumni from various universities, industries, and countries; and create an international network platform.
    


    //- About us 
    .content  
      .about-section
        h1 About Us Page
        p(style='text-align:left') We are Wego IEP Alums!
        h2(style='text-align:center') At A Glance
        .row
          .column
            .card
              img(src='/images/icons/profiles.png' alt='person icon' style='width:75%' class='center')
              .container
                h2 Student Profiles
                p.title Colleges, Countries, and Industries
                p
                  button.button Read More 
          .column
            .card
              img(src='/images/icons/board.png' alt='3 ppl icon' style='width:75%' class='center')
              .container
                h2 Advisory Board 
                p.title Wego IEP Alumni Board
                p
                  button.button Read More 
          .column
            .card
              img(src='/images/icons/sharing.png' alt='seminar icon' style='width:75%' class='center')
              .container
                h2 Sharing Session
                p.title Applying, Student Life, Careers
                p
                  button.button Read More 
          .column
            .card
              img(src='/images/icons/events.png' alt='10 ppl icon' style='width:75%' class='center')
              .container
                h2 Annual Events
                p.title Event connecting alums
                p
                  button.button Read More 

        //- contact us
        .container
      div(style='text-align:center')
        h2 Contact Us
        p Swing by for a cup of coffee, or leave us a message:
      .row
        .column
          img(src='/w3images/map.jpg' style='width:100%')
        .column
          form(action='/action_page.php')
            label(for='fname') First Name
            input#fname(type='text' name='firstname' placeholder='Your name..')
            label(for='lname') Last Name
            input#lname(type='text' name='lastname' placeholder='Your last name..')
            label(for='country') Country
            select#country(name='country')
              option(value='taiwan') Taiwan
              option(value='usa') USA
            label(for='subject') Subject
            textarea#subject(name='subject' placeholder='Write something..' style='height:170px')
            input(type='submit' value='Submit')
          
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")