doctype html
html(lang='en')
  head
    //- css
    link(rel="stylesheet" href="stylesheets/map.css")
    link(rel="stylesheet" href="stylesheets/footer.css")
    link(rel="stylesheet" href="stylesheets/nav.css")

    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

    //- js
    script(src="javascripts/map.js")
    script(src="javascripts/index.js")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    //- search bar
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- google map
    script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy8QR6hkmBw9pMJWs2XhY111wiGl5H3Sg&libraries=geometry&callback=initMap")

    title Student Profiles
    //-favicon
    link(rel="icon" type="image/png" href="/images/icons/favicon.png")
    
    script.
      var universityJSONUnorganized = "#{ JSON.stringify(universities)}"
      universitiesObject = JSON.parse(universityJSONUnorganized.replace(/&quot;/g,'"'))
      universitiesLength = universitiesObject.universitiesLength

      var alumniJSONUnorganized = "#{ JSON.stringify(alumni)}"
      alumniObject = JSON.parse(alumniJSONUnorganized.replace(/&quot;/g,'"'))
      
  body#body
    include common/nav
    .container-fluid#bodyContainer
      .row#mapRow
        .col-md-9#map
        .col-md-3#allUniversity
          .card#alumniProfile
            .card-body
              img#closeProfile(src='images/icons/arrow_left.png' onclick='alumniProfileClose()')
              .card-title#profileTitle Profile
              .card.mini
                  .card-body.miniCard
                      .card-text
              .card.mini
                  .card-body.miniCard
                      .card-text
              .card.mini
                  .card-body.miniCard
                      .card-text
              .card.mini
                  .card-body.miniCard
                      .card-text
              .card.mini
                  .card-body.miniCard
                      .card-text
          .wrapper
              .search-input
                a(href='' target='_blank' hidden='')
                input(type='text' placeholder='Type to search..')
                //- here list are inserted from javascript
          #universityNotFound Sorry, there are no matching results...
          #universityList
            //- .container-fluid.alumniList#alumniList
        div If university icons don't appear on the map within 5 seconds, please refresh...

    script(src="javascripts/mapSearch.js")
    include common/footer