doctype html
html(lang='en')
  head
    //- css
    link(rel="stylesheet" href="stylesheets/map.css")
    link(rel="stylesheet" href="stylesheets/nav.css")
    link(rel="stylesheet" href="stylesheets/footer.css")

    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

    //- js
    script(src="javascripts/map.js")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    //- search bar
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Student Profiles
    script.
      var universityJSONUnorganized = "#{ JSON.stringify(universities)}"
      universitiesObject = JSON.parse(universityJSONUnorganized.replace(/&quot;/g,'"'))
      universitiesLength = universitiesObject.universitiesLength

      var alumniJSONUnorganized = "#{ JSON.stringify(alumni)}"
      alumniObject = JSON.parse(alumniJSONUnorganized.replace(/&quot;/g,'"'))
      var features = [];
      var image = [];
      var icons = [];

      async function importDataToList(){
        for(var i = 0; i < universitiesLength; i++){
          features[i] = {
            type: i,
            position: new google.maps.LatLng(universitiesObject.universityLat[i], universitiesObject.universityLng[i]),
          };
          const img = new Image();
          img.src = 'images/universities/'+universitiesObject.universityName[i]+'.png';
          image[i] = {
            url: "images/universities/"+universitiesObject.universityName[i]+".png",
            scaledSize: new google.maps.Size(img.width/Math.sqrt(img.width*img.height/1200),img.height/Math.sqrt(img.width*img.height/1200))
          };
          icons[i] = {
            icon: image[i],
          };
        }
      }

      function createUniversitiesSearchList(map){
        for(var i = 0; i < universitiesLength; i++){
          var div = document.createElement("div");
          div.classList.add("universityBlock");
          div.id = (i);
          div.innerHTML = universitiesObject.universityName[i];
          div.addEventListener('click', function (event) {
            map.setZoom(8);
            map.setCenter(features[this.id].position);
          });
          document.getElementById("universityList").appendChild(div);
        }
      }

      function createUniversitySidebar(marker, map, order){
        marker.addListener("click", () => {
          map.setZoom(8);
          map.setCenter(marker.getPosition());
          const elements = document.getElementsByClassName("alumniBlock");
          while(elements.length > 0){
            elements[0].parentNode.removeChild(elements[0]);
          }
          var div = document.createElement("div");
          div.classList.add("alumniBlock");
          div.innerHTML = universitiesObject.universityName[order];
          document.getElementById("sideShow").appendChild(div);
          for(let j = 0; j < alumniObject.alumniLength; j++){
            if(alumniObject.alumniUniversity[j] == universitiesObject.universityName[order]){
              var div = document.createElement("div");
              div.classList.add("alumniBlock");
              div.innerHTML = alumniObject.alumniEnglishName[j] + " " + alumniObject.alumniEmail[j] + " " + alumniObject.alumniInstagramUsername[j] + " " + alumniObject.alumniGraduationYear[j] + " " + alumniObject.alumniMajor[j];
              document.getElementById("sideShow").appendChild(div);
            }
          }
          opensideShow();
        });
      }

      async function initMap(){
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 42, lng: -96.65625}
        });
        importDataToList();
        for (var k = 0; k < universitiesLength; k++) {
          const marker = new google.maps.Marker({
            position: features[k].position,
            icon: icons[k].icon,
            map: map,
          });
          createUniversitySidebar(marker, map, k);
        }
        createUniversitiesSearchList (map);
      }

      function refresh(){
        window.location = window.location + '#loaded';
        window.location.reload();
      }

      window.onload = function() {
        document.getElementById("z-index").style.display = "none";
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
        var biggestImg = new Image();
        biggestImg.src = "images/universities/Carnegie Mellon University.png";
        biggestImg.onload = function(){
          if(!window.location.hash) {
            refresh();
          }
        }  
      }
      
  body
    script.
        var loggedin = #{loggedin}
    if loggedin
      include login/usernav
    else
      include common/nav
    #map
    script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy8QR6hkmBw9pMJWs2XhY111wiGl5H3Sg&libraries=geometry&callback=initMap")
    #sideShow.sideShow
      a.closebtn(href='javascript:void(0)' onclick='closesideShow()') &times;
      .alumniBlock hello!
    #allUniversity
      .wrapper
        .search-input
          a(href='' target='_blank' hidden='')
          input(type='text' placeholder='Type to search..')
          //- here list are inserted from javascript
      #universityList

    script.
      // getting all required elements
      const searchWrapper = document.querySelector(".search-input");
      const inputBox = searchWrapper.querySelector("input");
      let linkTag = searchWrapper.querySelector("a");
      let webLink;
      // if user press any key and release
      inputBox.onkeyup = (e)=>{
        let userData = e.target.value; //user enetered data
        let emptyArray = [];
        if(userData){
          for(var i = 0; i < universitiesLength; i++){
            for(j = 0; j < universitiesLength; j++){
              if(universitiesObject.universityName[i].toLocaleLowerCase().startsWith(userData.toLocaleLowerCase(),j)){
                emptyArray.push(universitiesObject.universityName[i]);
                break;
              }
            }
          }
          emptyArray = emptyArray.map((data)=>{
              // passing return data inside li tag
              return data = `${data}`;
          });
          searchWrapper.classList.add("active"); //show autocomplete box
          showSuggestions(emptyArray);
        }else{
            searchWrapper.classList.remove("active"); //hide autocomplete box
        }
        if(emptyArray==""){
          for(i=0;i<universitiesLength;i++){
            document.getElementsByClassName("universityBlock")[i].style.display = "block";
          }
        }
      }
      function select(element){
          let selectData = element.textContent;
          inputBox.value = selectData;
          searchWrapper.classList.remove("active");
      }
      function showSuggestions(list){
          for(j=0;j<universitiesLength;j++){
            document.getElementsByClassName("universityBlock")[j].style.display = "none";
          }
          for(i in list){
            for(j=0;j<universitiesLength;j++){
              if(universitiesObject.universityName[j]==list[i]){
                document.getElementsByClassName("universityBlock")[j].style.display = "block";
                continue;
              }
            }
          }
      }
    include common/footer