doctype html
html
header
    link(rel="stylesheet" href="stylesheets/map.css")
    script(src="javascripts/map.js")
    
body 
    div#map
    //-script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy8QR6hkmBw9pMJWs2XhY111wiGl5H3Sg&libraries=geometry&callback=initMap")