doctype html
html(lang='en') 
  head
    //- css
    link(rel="stylesheet" href="stylesheets/share.css")
    link(rel="stylesheet" href="stylesheets/nav.css")
    link(rel="stylesheet" href="stylesheets/footer.css")
    link(rel="stylesheet" href="stylesheets/sidenav.css")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

    //- js
    script(src="javascripts/index.js")
    script(src="javascripts/nav.js")
    script(src="javascripts/about.js")
    
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')

    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

    title Experience Sharing
  body#main
      include common/nav
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a.pcsidenav(href='#') Home 
      a.pcsidenav(href='#vision') Vision
      a.pcsidenav(href='#mission') Mission
      a.pcsidenav(href='#about') Features
      a.pcsidenav(href='#contactus') Contact
      include common/mbsidenav
    .container#title
      .row
        .col-md-1
        .col-md-10
          h1 EXPERIENCE SHARING
          p The experience sharing sessions of alumni, be it in-person or online, provides students with various aspects of study abroad experiences: 
            |
            br
            | • High School (Extracurriculars, projects, grades, preparing for tests, developing interests…)
            |
            br
            | • Applications (Choosing schools, essays, common app (activities, honors), letter of recs…)
            |
            br
            | • University & Career (Student life, clubs, orgs, courses, graduate school, interns, jobs…)    
        .col-md-1
      .row#shareRow
        .col-md-1
        .col-md-5
          img#sharePic(src='/images/hero/share1.jpg')
        .col-md-5
          h5 Sharing Sessions
          p Sharings in school or online in the forms of workshops, large classroom lectures, or panels seminars. 
          h5 Guides & Advice
          p Students and alumni share articles, faqs, and videos of the sharing session on our website and FB community. 
        .col-md-1
      .row#videoRow
        .col-md-1
        .col-md-10
          h3 Our Videos 
          p In our sharing sessions, graduated students share their experiences in applications, highschool, and university and careers with current students. We categorize these recordings into short videos to serve as faqs to all! Enjoy 🙂
        .col-md-1
      .row#eachVideoRow
        .col-md-1
        .col-md-5
          iframe.video(width='100%' height='315' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  src='https://youtube.com/embed/eMzVra-Hpvk') 
        .col-md-5
          h5 Creating a BGM Widget 
          p In this video, I covered how to change our project from a window-looking application to a desktop widget. Hope you all enjoy the content. 
        .col-md-1
      .row#eachVideoRow
        .col-md-1
        .col-md-5
          iframe.video(width='100%' height='315' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  src='https://youtube.com/embed/y_dcX6zxTAQ') 
        .col-md-5
          h5 Babson Sup Video
          p Prompt: Your moment has arrived. Share with us the moments or experiences that have led you to apply to Babson College.
        .col-md-1
      .row#featureRow
        .col-md-1
        .col-md-10
          h3 Other Features
          p IEP Alumni Association utilizes an advisory board, student infographics and distribution maps, experience sharing sessions, and annual events to promote and leverage the value of the International Education Program; assemble current students and alumni from various universities, industries, and countries; and create an international network platform. 
        .col-md-1
      .row#linkRow
        .col-md-4.eachLink
          a(href='/board' target='_self' rel='noopener') 👔 
            | 
            br
            | Advisory Board 
        .col-md-4.eachLink
          a(href='/map' target='_self' rel='noopener') 👨‍🎓 
            |
            br
            | Student Profiles
        .col-md-4.eachLink
          a(href='/events' target='_self' rel='noopener') 🥂 
            |
            br
            | Annual Events
      .row#mbLinkRow
        .col-md-4.eachLink
          a(href='/board' target='_self' rel='noopener') 👔 Advisory Board 
        .col-md-4.eachLink
          a(href='/map' target='_self' rel='noopener') 👨‍🎓 Student Profiles
        .col-md-4.eachLink
          a(href='/events' target='_self' rel='noopener') 🥂 Annual Events

  include common/footer 

