doctype html
html
header
    link(rel="stylesheet" href="stylesheets/test.css")
    script(src="javascripts/test.js")
    
body 
    div#map
    //-iframe#map(src="https://www.google.com/maps/d/u/0/embed?mid=1sItIYWAALKvp2787yj9uxeYB3rQGoJi1")
    script(async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe1QeUX_0RUClAA5hJjpXB6XKw7icJy3A&libraries=geometry&callback=initMap")