body {
  background-color: rgb(234, 240, 242) !important;
}

.eachBlog{
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: black;
}

.notVerified {
  color: red !important;
}