body {
  background: rgb(255, 255, 255)!important;
  font-family: proxima-nova,Sans-serif;
}

#title{
  margin-top: 10vh;
}

#title h1, h3, h5 {
  font-weight: 700 !important;
  letter-spacing: 1.4px;
}

#title h1 {
  font-size: 70px;
  line-height: 1em;
  text-align: center;
  letter-spacing: 1.4px;
}

#title p {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 1.4px;
  text-align: left;
}