
body {
    background: rgb(255, 255, 255)!important;
    font-family: proxima-nova,Sans-serif;
}

#eachLink {
  text-decoration: none !important;
  color: black !important;
}

#eachLink:hover {
  color: rgb(255, 106, 106)!important; 
}

#title{
    padding-top: 30px;
}

#title h1, h3, h5 {
    font-weight: 700 !important;
    letter-spacing: 1.4px;
}

#title h1 {
    font-size: 90px;
    line-height: 1.3em;
    text-align: center;
}

#title h3 {
    font-size: 50px;
    line-height: 1.1em;
    text-align: left;
}

#title h5 {
    font-size: 30px;
    line-height: 1.1em;
    text-align: left;
}

#title p {
    font-size: 20px;
    line-height: 1.4em;
    letter-spacing: 1.4px;
    text-align: left;
}

#originPic {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

#originRow {
    padding-top: 50px;
}

.row {
  padding-top: 20px;
}

@media screen and (max-width: 650px) {
  #title h1 {
    font-size: 200%;
  }

  #title h3 {
    margin-top: 30px;
    font-size: 200%;
  }
}