body {
  background: rgb(255, 255, 255)!important;
  font-family: proxima-nova,Sans-serif;
}

#title{
  padding-top: 100px;
}

#title h1 {
  font-size: 90px;
  line-height: 1.3em;
  text-align: center;
  font-weight: 700 !important;
  letter-spacing: 1.4px;
}

#title p {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 1.4px;
  text-align: left;
}

#title p a {
  color: rgb(255, 61, 61);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#contactPic {
  border-radius: 15px;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

input[type=text], select, textarea {
  border-radius: 15px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f3c441;
  border-radius: 15px;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0082fc;
}

#inputRow {
  padding-top: 20px;
}

#inputForm {
  padding-top: 10px;
}

#subjectLabel {
  padding-top: 20px;
}

@media screen and (max-width: 650px) {
  #title h1 {
    font-size: 200%;
  }
}