.guideTitleContainer{
  margin-top: 10vh;
  justify-content: center;
}

.guideTitle{
  font-weight: 700 !important;
  font-size: 90px;
  line-height: 1.3em;
  letter-spacing: 1.4px;
  text-align: center;
}

.Entrance{
  height: 75vh;
  width: 30vw;
  padding: 10px;
  margin:20px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius:15px;
}

.entranceContainer{
  justify-content: center;
}

.Entrance{
  padding-top: 40px;
  text-align: center;
}

.wikiEntrance{
  background-color: antiquewhite;
}

.blogEntrance{
  background-color: #FFE9B4;
}
.entranceImg{
  width: 60%;
}

.hero-link {
  margin-top: 2vh;
  color: rgb(201, 106, 106) !important;
}

.paragraph2 {
  font-family: proxima-nova,Sans-serif;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: 1.1px;
}

.list{
  text-align: left;
}

.listText{
  font-size: 18px !important;
}