.guideTitleContainer{
  margin-top: 10vh;
  justify-content: center;
}

.guideTitle{
  font-weight: 700 !important;
  font-size: 90px;
  line-height: 1.3em;
  letter-spacing: 1.4px;
  text-align: center;
}