#map {
    margin-top: 100px;
    width: 800px;
    height: 540px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */

}

/* map side show*/
.sideShow {
    height: 540px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 100px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
/* The sidepanel links */
.sideShow a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sideShow a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sideShow .closebtn {
    position: relative;
    top: 0px;
    left: 230px;
    font-size: 36px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sideShow {padding-top: 15px;}
    .sideShow a {font-size: 18px;}
  }