/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background: rgb(234, 240, 242);
  box-shadow: 0 0.125rem 0.25rem rgb(83 88 93 / 35%) !important;
  padding: 25px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 50;
  /* opacity: 80%; */
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
}

#logoDiv{
  padding-left: 0px !important;
  padding-right: 12px !important;
}

#logo-image{
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  cursor: pointer;
}
#logo-image a.active{
  background-color: #ddd;
  color: rgb(0, 0, 0); 
  border-radius: 10px;
  transition: 0.2s;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  text-align:center;
}

/* Links on mouse-over */
#logo-image:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0); 
  border-radius: 14px;
  transition: 0.2s;
}

/* Links on mouse-over */
#navbar-right a:hover {
  background-color: rgb(234, 240, 242);
  color: rgb(255, 106, 106); 
  transition: 0.2s;
}

/* Links on mouse-over */
#navbar-right a {
  padding: 15px;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
}

#navbar-right .active {
  background-color: transparent !important;
  color: #000 !important;
  font-weight: bold;
}
#spanLogoContainer{
  padding: 0px;
  width: 200px;
  margin-left: 0px;
}
#spanLogo{
  margin-left: 0px !important;
  align-items: center;
}


#nav-logo{
  cursor: pointer;
  height: 20px;
  align-self: center;
}
#navContainer{
  align-items: center;
  justify-items: right;
  padding: 0px !important;
}
#nav-div{
  margin-left: 5px !important;
  display:flex;
  align-content: center;
  justify-content: center;
  border-radius: 50px;
  height:45px;
  width: 45px;
}

@media screen and (max-width: 599px) {
  #navbar-right{
    display: none;
  }
}