/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgb(83 88 93 / 30%) !important;
  padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
  /* transition: 0.4s;  */
  /* transition: opacity 4s ease-in; */
  transition-property: padding;
  transition-duration: 0.4s;
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 50;
  background: rgb(29, 29, 29);;
  /* opacity: 80%; */
}

/* Style the navbar links */
.navOption {
  float: left;
  color: rgb(255, 255, 255); 
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
}

.navOption:hover{
  /* background-color: rgb(234, 240, 242); */
  color: rgb(255, 255, 255)!important; 
  transition: 0.2s;
  text-decoration: none !important;
}

#logoLink{
  height: inherit;
  width: inherit;
}
#logoDiv{
  padding-left: 0px !important;
  padding-right: 12px !important;
}

.logo-image{
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  border-radius: 14px;
  cursor: pointer;
  opacity: 90%;
}

.logo-image a.active{
  background-color: #ddd;
  color: rgb(0, 0, 0); 
  transition: 0.2s;
}

#navbar-right {
  font-size: 35px;
  transition: 0.4s;
  text-align:center;
}

/* Links on mouse-over */
.logo-image:hover {
  /* background-color: #ddd;
  color: rgb(0, 0, 0);  */
  opacity: 100%;
  transition: 0.2s;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
}

#navbar-right .active {
  background-color: transparent !important;
  color: #000 !important;
  font-weight: bold;
}
#spanLogoContainer{
  display: inline-block;
  padding: 0px;
  width: 200px;
  margin: 0px !important;
}
#spanLogo{
  margin-left: 0px !important;
  align-items: center;
  padding: 0px !important;
}


.nav-logo{
  cursor: pointer;
  height: 20px;
  align-self: center;
  opacity: 90%;
}
.nav-logo:hover{
  opacity: 100%;
  transition: 0.2s;
}


#navContainer{
  align-items: center;
  justify-items: right;
  padding: 0px !important;
}
.nav-div{
  margin-left: 5px !important;
  display:flex;
  align-content: center;
  justify-content: center;
  border-radius: 50px;
  height:45px;
  width: 45px;
}


@media screen and (max-width: 599px) {
  #navbar-right{
    display: none;
  }
}