@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* html {
  box-sizing: border-box;
} */


/* Style inputs */
  /* input[type=text], select, textarea {
  border-radius: 15px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} */

/* input[type=submit] {
  background-color: #f3c441;
  border-radius: 15px;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0082fc;
} */

/* Style the container/contact section */
.customContainer {
  border-radius: 30px;
  background-color: rgb(234, 240, 242);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.63);
  padding: 10px;
  margin: 10px;
}

.customContainer:hover {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.63);
}

.innerContainer {
  text-align: center;
  border-radius: 13px;
  background-color: rgb(234, 240, 242);
  padding: 10px;
  color:rgb(0, 0, 0);
  width: 100%;
}

/* Create two columns that float next to eachother */
/* .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 23%;
  margin: 0.9%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-a {
  float: left;
  width: 23.4%;
  margin: 0.8%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* .card {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.267);
  margin: 8px;
} */

.about-section {
  padding: 5% 5%; 
  text-align: center;
  background-color:rgb(0, 0, 0);
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.363) 68%, rgba(0, 0, 0, 0.192) 85%, rgba(0, 0, 0, 0) 100%), url("/images/hero/waves.jpg");
  color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.container {
  padding: 0 16px;
  color: rgb(0, 0, 0);
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* .title {
  color: grey;
  font-size: 12px;
} */

.button {
  border: none;
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100% !important;
}

.button:hover {
  background-color: rgb(97, 97, 97);
}

/* @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
} */

body {
  background: rgb(255, 255, 255)!important;
}
.content {
  width: auto;
  margin: 50px;
  background: rgb(234, 240, 242);
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image1 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.486) 68%, rgba(0, 0, 0, 0.555) 75%, rgba(0, 0, 0, 0.705) 85%, rgb(0, 0, 0) 100%), url("/images/hero/cover.jpg"); */
  background-image: url("/images/hero/cover1.jpg");
  opacity: 0;
  /* Set a specific height */
  height: 150%;
  background-size: cover;
  transition: 0.7s;
}


/* The hero image */
.hero-image2 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.801)), url("/images/hero/earth.jpg");
  
  /* Set a specific height */
  height: 100%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text2 {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 70%;
  line-height: 20px;
  transform: translate(-50%, -50%);
  color: white;
  }

/* The hero image */
.hero-image3 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)60%, rgb(0, 0, 0)100%), url("/images/hero/galaxy.jpg");
  
  /* Set a specific height */
  height: 100%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text3 {
  text-align: left;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 70%;
  line-height: 1000%;
  transform: translate(-50%, -50%);
  color: white;
  }

.dropdown {
  float: left !important;
  overflow: hidden !important;
}

.dropdown .dropbtn {
  font-size: 16px !important;  
  border: none !important;
  outline: none !important;
  color: white !important;
  padding: 14px 16px !important;
  background-color: inherit !important;
  font-family: inherit !important;
  margin: 0 !important;
}

.dropdown-content {
  display: none;
  position: absolute !important;
  background-color: #f9f9f9 !important;
  min-width: 160px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 1 !important;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
/* @media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; Use !important to make sure that JavaScript doesn't override the padding on small screens */
  /* } */
  /* #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
} */

.line-height {
  line-height: 40px;
}
/* 
.column2 {
  float: left;
  width: 20%;
  margin: 5px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column3 {
  float: left;
  width: 15px;
  margin: 5px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column4 {
  float: left;
  width: 6.5%;
  margin: 5px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column5 {
  float: left;
  width: 47%;
  margin: 5px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column6 {
  float: center;
  width: 30%;
  margin: 2px;
  margin-bottom: 8px;
  padding: 0 5px;
} */

.big {
  font-family: proxima-nova,Sans-serif;
  font-size: 70px;
  font-weight:700;
  line-height: 100px;
}

.big2 {
  font-family: proxima-nova,Sans-serif;
  font-size: 70px;
  font-weight:700;
  line-height: 100px;
  text-align: center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}


#z-index {
  z-index: 100;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
	padding:0;
	margin:0;
}

html{
	background-color: #eaf0f2;
}

body{
	font:16px/1.6 Arial,  sans-serif;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:190px;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

header h2{
	color: #F05283;
}

header span{
	color: #3F71EA;
}

/* rounding image */
#round {
  border-radius: 15px;
}

/* zoom features */
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08); 
}

.bold {
  font-family: proxima-nova,Sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 1.4px;
  text-align: center;
}

.paragraph {
  margin-left: 15%;
  margin-right: 15%;
  font-family: proxima-nova,Sans-serif;
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 1.4em;
  letter-spacing: 1.4px;
  text-align: left;
}

.paragraph2 {
  font-family: proxima-nova,Sans-serif;
  font-size: 25px;
  /* font-weight: 700; */
  line-height: 1.4em;
  letter-spacing: 1.4px;
  text-align: center;
}

.medium {
  margin-left: 15%;
  margin-right: 15%;
  font-family: proxima-nova,Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 1.4px;
  text-align: left;
}
.medium2 {
  font-family: proxima-nova,Sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 1.4px;
  text-align: left;
}

.medium-small {
  margin-left: 15%;
  margin-right: 15%;
  font-family: proxima-nova,Sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 1.4px;
  text-align: left;
}
.medium-small2 {
  margin-left: 10%;
  margin-right: 15%;
  font-family: proxima-nova,Sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 1.4px;
  text-align: left;
}

.pic_align {
  margin-left: 15%;
  margin-right: 15%;
}


.medium-small a:link, .medium-small a:visited, .medium-small2 a:link, .medium-small2 a:visited {
  color: inherit !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.medium-small a:hover, .medium-small a:active, .medium-small2 a:hover, .medium-small2 a:active {
  color: rgb(255, 106, 106)!important; 
}

.socials a:link, .socials a:visited {
  color: rgb(255, 61, 61);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.socials a:hover {
  color: rgb(255, 106, 106)!important;
  transition: 0.3s;
}
 
/* zoom features */
.zoom a:link, .zoom a:visited {
  color: inherit;
}

.zoom a:hover {
  color: inherit;
  transition: 0.1s;
  text-decoration: none;

}


@media screen and (max-width: 1094px) {
  .contact{
    display: none;
  }
  .hero-image1{
    width: 100%!important;
  }
  .innerContainer{
    width: 100%;
  }
  .customContainer{
    width: 82%!important;
  }
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1094px) {
  .column-a, input[type=submit] {
    width: 48%!important;
    margin-top: 0;
  }
  .big, .big2 {
    font-size: 500%;
  }
  .paragraph, .paragraph2{
    line-height:130%;
    font-size: 160%;
  }
  .about-section {
    padding: 10%; 
    padding-top: 2%;
    height: 130vw;
  }
  .medium2{
    font-size: 4.5vw;
  }
  .hero-image1{
    height: 90%;
    width: 100%!important;
  }

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (min-height: 800px) {
  .about-section {
    height: 50%;
  }
} */

@media screen and (max-width: 20000px) {
  .pcsidenav {
    display: block!important;
  }
  .mbsidenav{
    display: none!important;
  }
}

@media screen and (max-width: 599px) {
  .medium2{
    font-size: 40px;
  }
  .column-a, input[type=submit] {
    width: 100%!important;
    margin-top: 0;
  }
  .about-section {
    height: 500vw;
  }
  .big2 {
    font-size: 200%;
    text-align: left;
  }
  .big {
    font-size: 200%;
    text-align: center;
  }
  .paragraph, .paragraph2{
    line-height: 120%;
    font-size: 110%;
    text-align: left;
  }
  .hero-image1{
    height: 50%;
    width: 100%!important;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.486) 68%, rgba(0, 0, 0, 0.555) 75%, rgba(0, 0, 0, 0.705) 85%, rgb(0, 0, 0) 100%), url("/images/hero/1fixcopy.png");
  }
  .hero-image2, .hero-image3{
    height: 60%;
  }

  .hero-text3, .hero-text2 {
    width: 90%;
  }
}

/* block revealing effect  */
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* other */
.info {
  margin: 20px 0;
  text-align: center;
}

/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}

