@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: rgb(234, 240, 242) !important;
}

.bg {
    width: 100%;
    background-color: #ddd;
}

.row {
    width: 100%;
}

#image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 20px;
}

.card-title {
    text-align: center;
}

.btn {
    width: 90%;
}

#storyboard{
    background-color: rgb(255, 255, 255) !important;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: 350px; */
    font-family: 'Lato', sans-serif;
}

.miniCard {
    padding: 10px !important;
    background-color: rgb(247, 247, 247) !important;
    transition: 0.3s;
}

.mini{
    border: none !important;
    margin-top: 10px;
}

.miniCard:hover{
    background-color: rgb(230, 230, 230) !important;
}

#profileImageContainer{
    height: 350px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#status {
    margin-top: 10px;
}

#update {
    margin-top: 10px;
}

#profileTitle {
    font-family: proxima-nova,Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 1.4px;
}

#profileName {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}