doctype html
html(lang='en') 

  head
    //- css
    link(rel="stylesheet" href="stylesheets/index.css")
    link(rel="stylesheet" href="stylesheets/profile.css")
    link(rel="stylesheet" href="stylesheets/nav.css")

    //- js
    script(src="javascripts/index.js")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

  body#main
    include ../login/usernav
    script.
        var user = "#{data}"
        var data = user.split(/\,+(?!\ )/);
    .row
        .col-md-2
        .col-md-2
            .card(style="margin-top: 200px; width: 200px")
                .bg
                    img#image.card-img-top
                .card-body
                    .card-title Hi #{name}
                    .card-title
                        a.btn.btn-primary(href="/logout") Logout
        .col-md-6
            .card(style="margin-top: 200px;")#storyboard
                .card-body
                    .card-title#main-title Profile Page
                    form(action = "/add" method="POST")
                        .form-group
                            label English Name:
                            input.form-control(type="text" id="EnglishName" name="EnglishName" placeholder="Enter English Name" required, value = data[0])
                        .form-group
                            label Last Name:
                            input.form-control(type="text" id="LastName" name="LastName" placeholder="Enter Last Name" required, value = data[2])
                        .form-group
                            label First Name:
                            input.form-control(type="text" id="FirstName" name="FirstName" aria-describedby="emailHelp" placeholder="Enter First Name" required, value = data[1])
                        .form-group
                            label Instagram Account:
                            input.form-control(type="text" id="InstagramUsername" name="InstagramUsername" aria-describedby="emailHelp" placeholder="Enter Your Instagram Account Name" required, value = data[4])
                        .form-group
                            label GraduationYear:
                            input.form-control(type="text" id="GraduationYear" name="GraduationYear" aria-describedby="emailHelp" placeholder="Enter Your GraduationYear" required, value = data[5])
                        .form-group
                            label Major:
                            input.form-control(type="text" id="Major" name="Major" aria-describedby="emailHelp" placeholder="Enter Your Major" required, value = data[6])
                        .form-group
                            label University:
                            input.form-control(type="text" id="University" name="University" aria-describedby="emailHelp" placeholder="Enter Your Major" required, value = data[7])
                        input.btn(type="submit" Value="Save")
        .col-md-2
        p yo
    script.
        var image_url = "#{picture}";
        const doc = document.getElementById("image");
        doc.style.content = "url(#{picture})";