#navbar
    span#z-index(style='font-size:33px;cursor:pointer' onclick='openNav()') ☰
    a#logo(href='/' ) IEP Alumni 
    #navbar-right
        a#hide3.active(href='/') Home
        a#hide(href='/about') About
        a#hide1(href='/contact') Contact
        a#hide2(href='/profile') Hi&nbsp; #{name}
#mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a(href='#') Home 
      a(href='#vision') Vision
      a(href='#mission') Mission
      a(href='#about') Features
      a(href='#contactus') Contact 