doctype html
html(lang='en') 
  head
    //- css
    link(rel="stylesheet" href="stylesheets/wiki/wiki.css")
    link(rel="stylesheet" href="stylesheets/nav.css")
    link(rel="stylesheet" href="stylesheets/footer.css")
    link(rel="stylesheet" href="stylesheets/sidenav.css")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')

    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

    title Wiki
    
    //-favicon
    link(rel="icon" type="image/png" href="/images/icons/favicon.png")
  body
    include ../common/nav
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a.pcsidenav(href='#') Home 
      a.pcsidenav(href='#vision') Vision
      a.pcsidenav(href='#mission') Mission
      a.pcsidenav(href='#about') Features
      a.pcsidenav(href='#contactus') Contact
      include ../common/mbsidenav
    include ../common/cover
    .container#title
      .row
        .col-md-1
        .col-md-10
          h1 Wiki ✏️
          //- .card.path
          //-   .card-body
          //-     h5.card-title(style="font-size: 30px;") Path for Ravenclaw
          //-     h6.card-subtitle.mb-2.text-muted Some quick example text to build on the card title and make up the bulk of the card's content.
          //- .card.path
          //-   .card-body
          //-     h5.card-title Path for Hufflepuff
          //-     h6.card-subtitle.mb-2.text-muted Card subtitle
          //-     p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          //-     a.card-link(href="#") Expand
          .card.path
            .card-body
              h5.card-title(style="font-size: 30px") Path for Slytherin
              h6.card-subtitle.mb-2.text-muted #Applying to College
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              //- a.card-link(href="#") Expand
              ul
                .listener
                  li.link Welcome to the PF Wiki
                ul.toggle.notLink
                  .listener
                    li.link Please read this basic financial advice everyone should follow.
                  ul.toggle.notLink
                    li Prime Directive: How to Handle $
                    li New User Orientation
                  .listener
                    li.link Advice and Tips for Different Age-Ranges
                  ul.toggle.notLink
                    li High School Students and Teenagers (15-20)
                    li Older Young Adults (25-35)
                    li Young Adults (18-25)
                    li Mid-Career Adults (35-45)
                    li Middle-Aged Adults (45-65)
                  li Regional Subreddits
                  .listener
                    li.link Specific Topics
                  ul.toggle.notLink
                    li Auto
                    li Banks and Credit Unions
                    li Budgeting
                    li Charity, Donations, and Giving
                    li Collections
                    li Credit
                    li Cryptocurrency
                    li Debt
                    li Emergency Funds
                    li Employment
                    li Estate
                    li Financial Advisors
                    li Financial Institutions
                    li Housing
                    li Independence
                    li Inheritance
                    li Insurance
                    li Investing
                    li Lending and Co-Signing Loans
                    li Mortgages
                    li Psychology
                    li Relationships
                    li Retirement
                    li Scams and Fraud
                    li Side Income
                    li Student Loans
                    li Taxes
                    li Teenagers
                    li Tools
                    li Windfall
                  .listener
                    li.link Miscellaneous Topics
                  ul.toggle.notLink
                    li 30-Day Challenges
                    li Reading List
                    li Past Discussions
                  .listener
                    li.link Pages about /r/personalfinance
                  ul.toggle.notLink
                    li New User Orientation
                    li Subreddit Rules
                    li Disclaimer
                    li Flair
                    li Unofficial IRC Channel
                  li Acknowledgements
          .card.path
            .card-body
              h5.card-title(style="font-size: 30px") Path for Slytherin
              h6.card-subtitle.mb-2.text-muted #Applying to College
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              //- a.card-link(href="#") Expand
              ul
                .listener
                  li.link Welcome to the PF Wiki
                ul.toggle.notLink
                  .listener
                    li.link Please read this basic financial advice everyone should follow.
                  ul.toggle.notLink
                    li Prime Directive: How to Handle $
                    li New User Orientation
                  .listener
                    li.link Advice and Tips for Different Age-Ranges
                  ul.toggle.notLink
                    li High School Students and Teenagers (15-20)
                    li Older Young Adults (25-35)
                    li Young Adults (18-25)
                    li Mid-Career Adults (35-45)
                    li Middle-Aged Adults (45-65)
                  li Regional Subreddits
                  .listener
                    li.link Specific Topics
                  ul.toggle.notLink
                    li Auto
                    li Banks and Credit Unions
                    li Budgeting
                    li Charity, Donations, and Giving
                    li Collections
                    li Credit
                    li Cryptocurrency
                    li Debt
                    li Emergency Funds
                    li Employment
                    li Estate
                    li Financial Advisors
                    li Financial Institutions
                    li Housing
                    li Independence
                    li Inheritance
                    li Insurance
                    li Investing
                    li Lending and Co-Signing Loans
                    li Mortgages
                    li Psychology
                    li Relationships
                    li Retirement
                    li Scams and Fraud
                    li Side Income
                    li Student Loans
                    li Taxes
                    li Teenagers
                    li Tools
                    li Windfall
                  .listener
                    li.link Miscellaneous Topics
                  ul.toggle.notLink
                    li 30-Day Challenges
                    li Reading List
                    li Past Discussions
                  .listener
                    li.link Pages about /r/personalfinance
                  ul.toggle.notLink
                    li New User Orientation
                    li Subreddit Rules
                    li Disclaimer
                    li Flair
                    li Unofficial IRC Channel
                  li Acknowledgements
          .card.path
            .card-body
              h5.card-title(style="font-size: 30px") Path for Slytherin
              h6.card-subtitle.mb-2.text-muted #Applying to College
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              //- a.card-link(href="#") Expand
              ul
                .listener
                  li.link Welcome to the PF Wiki
                ul.toggle.notLink
                  .listener
                    li.link Please read this basic financial advice everyone should follow.
                  ul.toggle.notLink
                    li Prime Directive: How to Handle $
                    li New User Orientation
                  .listener
                    li.link Advice and Tips for Different Age-Ranges
                  ul.toggle.notLink
                    li High School Students and Teenagers (15-20)
                    li Older Young Adults (25-35)
                    li Young Adults (18-25)
                    li Mid-Career Adults (35-45)
                    li Middle-Aged Adults (45-65)
                  li Regional Subreddits
                  .listener
                    li.link Specific Topics
                  ul.toggle.notLink
                    li Auto
                    li Banks and Credit Unions
                    li Budgeting
                    li Charity, Donations, and Giving
                    li Collections
                    li Credit
                    li Cryptocurrency
                    li Debt
                    li Emergency Funds
                    li Employment
                    li Estate
                    li Financial Advisors
                    li Financial Institutions
                    li Housing
                    li Independence
                    li Inheritance
                    li Insurance
                    li Investing
                    li Lending and Co-Signing Loans
                    li Mortgages
                    li Psychology
                    li Relationships
                    li Retirement
                    li Scams and Fraud
                    li Side Income
                    li Student Loans
                    li Taxes
                    li Teenagers
                    li Tools
                    li Windfall
                  .listener
                    li.link Miscellaneous Topics
                  ul.toggle.notLink
                    li 30-Day Challenges
                    li Reading List
                    li Past Discussions
                  .listener
                    li.link Pages about /r/personalfinance
                  ul.toggle.notLink
                    li New User Orientation
                    li Subreddit Rules
                    li Disclaimer
                    li Flair
                    li Unofficial IRC Channel
                  li Acknowledgements
          .card.path
            .card-body
              h5.card-title(style="font-size: 30px") Path for Slytherin
              h6.card-subtitle.mb-2.text-muted #Applying to College
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              //- a.card-link(href="#") Expand
              ul
                .listener
                  li.link Welcome to the PF Wiki
                ul.toggle.notLink
                  .listener
                    li.link Please read this basic financial advice everyone should follow.
                  ul.toggle.notLink
                    li Prime Directive: How to Handle $
                    li New User Orientation
                  .listener
                    li.link Advice and Tips for Different Age-Ranges
                  ul.toggle.notLink
                    li High School Students and Teenagers (15-20)
                    li Older Young Adults (25-35)
                    li Young Adults (18-25)
                    li Mid-Career Adults (35-45)
                    li Middle-Aged Adults (45-65)
                  li Regional Subreddits
                  .listener
                    li.link Specific Topics
                  ul.toggle.notLink
                    li Auto
                    li Banks and Credit Unions
                    li Budgeting
                    li Charity, Donations, and Giving
                    li Collections
                    li Credit
                    li Cryptocurrency
                    li Debt
                    li Emergency Funds
                    li Employment
                    li Estate
                    li Financial Advisors
                    li Financial Institutions
                    li Housing
                    li Independence
                    li Inheritance
                    li Insurance
                    li Investing
                    li Lending and Co-Signing Loans
                    li Mortgages
                    li Psychology
                    li Relationships
                    li Retirement
                    li Scams and Fraud
                    li Side Income
                    li Student Loans
                    li Taxes
                    li Teenagers
                    li Tools
                    li Windfall
                  .listener
                    li.link Miscellaneous Topics
                  ul.toggle.notLink
                    li 30-Day Challenges
                    li Reading List
                    li Past Discussions
                  .listener
                    li.link Pages about /r/personalfinance
                  ul.toggle.notLink
                    li New User Orientation
                    li Subreddit Rules
                    li Disclaimer
                    li Flair
                    li Unofficial IRC Channel
                  li Acknowledgements
        .col-md-1
    
    script(src="javascripts/wiki/wiki.js")

