doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='footer, address, phone, icons')
    link(rel="stylesheet" href="stylesheets/footer.css")
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css')
  body
    // The content of your page would go here.
    footer.footer-distributed
      .footer-left
        img(src='images/hero/3.png')
        p 
        h3
          | About 
          span Alumni
        p.footer-links
          a(href='/') Home
          | 					| 
          a(href='/blog') Blog
          | 					| 
          a(href='/about') About
          | 					| 
          a(href='/contact') Contact
        p.footer-company-name © 2021 International Education Program Alumni Association
      .footer-center
        div
          i.fa.fa-map-marker
          p
            span
              | No. 50, Zhuhai Rd., 
              | Beitou Dist., 
            | 						Taipei City 112014, Taiwan (R.O.C.)
        div
          i.fa.fa-phone
          p +886 979606070
        div
          i.fa.fa-envelope
          p
            a(href='mailto:andrewchuang0110@gmail.com') andrewchuang0110@gmail.com
      .footer-right
        p.footer-company-about
          span About the Association 
          | 					We strive to facilitate connections among Wego IEP students with the goal of nurturing and empowering global talents. Students will be able to create opportunities, foster connections, and share resources. 
        .footer-icons
          a(href='https://www.facebook.com/groups/266271838471963' target='_blank')
            i.fa.fa-facebook
          a(href='https://www.instagram.com/wego.iep/' target='_blank')
            i.fa.fa-instagram
          a(href='https://www.linkedin.com/company/taipei-wego-private-bilingual-senior-high-school/about/' target='_blank')
            i.fa.fa-linkedin
          a(href='#')
            i.fa.fa-youtube
