doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='footer, address, phone, icons')
    link(rel="stylesheet" href="stylesheets/footer.css")
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css')
  body
    // The content of your page would go here.
    footer.footer-distributed
      .footer-left
        img(src='images/hero/wtips.png')
        p 
        w3
          | Our 
          span Features
        p.footer-links
          a(href='/') Home
          | 					| 
          a(href='/guides') Guides
          | 					| 
          a(href='/iep') Wego IEP
          | 					| 
          a(href='/contact') Contact
        p.footer-company-name © 2021 Taiwanese International Programs and Students 
      .footer-center
        div
          i.fa.fa-map-marker
          p
            span
              | We were based in Taipei, 
              | Taiwan
            | 						But we have now traversed the world!
        div
          i.fa.fa-phone
          p +1 5109848260
        div
          i.fa.fa-envelope
          p
            a(href='mailto:andrewchuang@berkeley.edu') andrewchuang@berkeley.edu
      .footer-right
        p.footer-company-about
          span About the Association 
          | 					We strive to facilitate connections among Taiwanese International students with the goal of nurturing and empowering global talents to create opportunities, foster connections, and share resources. 
        .footer-icons
          a(href='https://www.facebook.com/groups/266271838471963' target='_blank')
            i.fa.fa-facebook
          a(href='https://www.instagram.com/wego.iep/' target='_blank')
            i.fa.fa-instagram
          a(href='https://www.linkedin.com/company/taipei-wego-private-bilingual-senior-high-school/about/' target='_blank')
            i.fa.fa-linkedin
          a(href='#')
            i.fa.fa-youtube
