a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
a.mbsidenav(href='/') Home
a.mbsidenav(href='/about') About
a.mbsidenav(href='/blog') Blog
a.mbsidenav(href='/wiki') Wiki
a.mbsidenav(href='/iep') Wego IEP
if loggedin
  a.mbsidenav(href='/profile') Profile
else
  a.mbsidenav(href='/login') Login

