a.mbsidenav(href='/') Home
a.mbsidenav(href='/about') About
a.mbsidenav(href='/blog') Blog
a.mbsidenav(href='/wiki') Wiki
a.mbsidenav(href='/contact') Contact
if loggedin
  a.mbsidenav(href='/profile') Profile
else
  a.mbsidenav(href='/login') Login

