//- Header and navigation bar

#navbar
    a#logo(href='/' style='width:15%') IEP Alumni 
    #navbar-right
        a.active(href='#') Home
        a(href='#about') About
        a(href='#contactus') Contact
        a(href='/login') Login

