//- Header and navigation bar

#navbar
    a#logo(href='/' style='width:15%') IEP Alumni 
    #navbar-right
        a.active(href='/') Home
        a(href='/contact') Contact
        a(href='/about') About
        a(href='/login') Login

