//- Header and navigation bar

#navbar
    span#z-index(style='font-size:33px;cursor:pointer' onclick='openNav()') ☰
    a#logo(href='/' ) IEP Alumni 
    #navbar-right
        a.active(href='#') Home
        a(href='#about') About
        a(href='#contactus') Contact
        a(href='/login') Login

