//- Header and navigation bar

//- jquery
script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
script(src="javascripts/nav.js")
#navbar
  a#logo
    #spanLogoContainer.container
      #spanLogo.row
        .col-md-3#nav-div
          img#nav-logo(src='/images/hero/nav.png' alt='LOGO' onclick='openNav()' onmousedown = "mouseDown()" onmouseup = "mouseUp()")     
        img.col-md-9#logo-image(src='/images/TIPS-logo4/cover.png' alt='LOGO' href='/' )
        
    #navbar-right
        a#hide3(href='/') Home
        a#hide(href='/about') About
        a#hide5(href='/blog') Blog
        a#hide4(href='/wiki') Wiki
        a#hide1(href='/contact') Contact
        a#hide2(href='/login') Login

