//- Header and navigation bar

#navbar
    span#z-index(style='font-size:33px;cursor:pointer' onclick='openNav()') ☰
    a#logo(href='/' ) IEP Alumni 
    #navbar-right
        a#hide3(href='/') Home
        a#hide(href='/about') About
        a#hide1(href='/contact') Contact
        a#hide2(href='/login') Login

