body {
  background: rgb(255, 255, 255)!important;
  font-family: proxima-nova,Sans-serif;
}

#title{
  padding-top: 100px;
}

#title h1, h3, h5 {
  font-weight: 700 !important;
  letter-spacing: 1.4px;
}

#title h1 {
  font-size: 90px;
  line-height: 1em;
  text-align: center;
  letter-spacing: 1.4px;
}

#title h3 {
  font-size: 50px;
  line-height: 1.1em;
  text-align: left;
  margin-top: 10px;
}

#title h5 {
  font-size: 30px;
  line-height: 1.1em;
  text-align: left;
}

#title p {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 1.4px;
  text-align: left;
}

#sharePic {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

#shareRow {
  padding-top: 50px;
}

.video {
  border-radius: 15px;
}

.linkRow{
  text-align: center;
}

.linkRow a {
  font-size: 30px;
  line-height: 1.1em;
  /* text-align: left; */
  text-decoration: none !important;
  color: black;
  font-weight: 700 !important;
  letter-spacing: 1.4px;
}

.linkRow a:hover {
  color: rgb(255, 106, 106)!important; 
}

#eachVideoRow{
  padding-top: 25px;
}

.linkRow {
  padding-top: 50px;
}

.eachLink {
  margin-top: 10px;
}

#mbLinkRow {
  display: none;
}

@media only screen and (max-width:750px) {
  #mbLinkRow {
    display: block !important;
    text-align: center;
  }

  #mbLinkRow a:hover {
    color: rgb(255, 106, 106)!important; 
  }

  #mbLinkRow a{
    font-size: 30px;
    line-height: 1.1em;
    text-decoration: none !important;
    color: black;
    font-weight: 700 !important;
    letter-spacing: 1.4px;
  }

  .eachLink {
    margin-top: 30px;
  }

  .linkRow{
    display: none;
  }

  #title h5 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 650px) {
  #title h1 {
    font-size: 200%;
  }

  #title h3 {
    font-size: 200%;
  }

  
}

.normalLinkRow a{
  font-size: 30px;
  line-height: 1.1em;
  /* text-align: left; */
  text-decoration: none !important;
  color: black;
  font-weight: 700 !important;
  letter-spacing: 1.4px;
}
.normalLinkRow a:hover {
  color: rgb(255, 106, 106)!important; 
}