.overflowHidden{
  overflow: hidden !important;
}
.fadeInUpward{
  opacity: 0;
  transition: 0.5s ease-in;
  position: relative;
  top: 60px;
}

.fadeInUpward.appear{
  opacity: 1;
  top:0px;
}

.fadeInLeftward{
  opacity: 0;
  transition: 0.5s ease-in;
  position: relative;
  right:60%;
}

.fadeInLeftward.appear{
  opacity: 1;
  right:0px;
}